  <% @posts.each do |post|%>
    <div class="post">
      <span class="index-post-title"><a href='/post/<%= post.id %>'><%= post.title %></a></span>
      <span class="index-post-info"><a href="/user/<%= post.user_id %>"><%= post.user.username %></a>
      <small>(<%= date(post.created_at) %>)</small></span>
    </div>
  <% end %>
